.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  padding: 20px 40px;
  border-radius: 20px;
  background-color: lightgray;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
}

.login-box .btn-login {
  margin-top: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.dashboard {
  min-height: 100vh;
  display: flex;
}

.dashboard .side-nav {
  background-color: lightgray;
  width: 20%;
  min-height: 100%;
}

.dashboard .side-nav .nav-links {
  list-style-type: none;
  padding: 20px;
}

.dashboard .side-nav .nav-links .nav-link {
  padding: 10px 20px;
  background: ghostwhite;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}

.dashboard .side-nav .nav-links .nav-link.active {
  background-color: gray;
  color: white;
}

.dashboard .main-content {
  width: 80%;
  padding: 20px;
}